= form_for @track do |f|
  - if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :tag
    = f.text_field :tag
  .field
    = f.label :activity
    = f.text_field :activity
  .actions
    = f.submit 'Save'
