- is_new = track.new_record?
= form_for track, html: { id: "track-timer", class: "w-full"} do |f|
  .flex.divide-x
    .field.pr-4.w-full
      = f.text_field :activity, placeholder: "What are you working on?", autofocus: false, required: true
    .flex.w-fit.items-center
      .field.pl-4.w-60
        = f.select :tag_id, tags.map{|tag| [tag.name, tag.id]}, { prompt: "-- Select Tag --" }, required: true
      .px-6.text-xl.font-medium.text-secondary.w-40.text-center
        - if is_new
          %span
            0:00:00
        - else
          - seconds_until_end_time = (Time.zone.now.to_i - track.started_at.to_i)
          %span{data: {controller: "countdown", countdown_target: "countdown", seconds_until_end_time: seconds_until_end_time}}
            = time_diff(track.started_at, Time.zone.now)
      = f.submit is_new ? 'start' : "stop", class: "#{is_new ? 'btn-primary' : 'btn-countdown'} uppercase text-sm disabled:bg-gray-200 disabled:cursor-progress "
