.margin-max-screen.grid.place-items-center.h-full.py-20
  .flex.flex-col.gap-3.w-96
    .flex.justify-center
      = render "users/shared/logo"
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "border p-8 rounded bg-white", method: :post }) do |f|
      .grid{class: "gap-3"}
        %h2.font-semibold.text-2xl.mb-2 Reset Password
        = render "users/shared/error_messages", resource: resource
        .field
          = f.label :email
          = f.email_field :email, required: true, autocomplete: "email"
        = f.submit "Reset", class: "btn-primary w-full mt-2"
    .flex.gap-2.justify-between
      = render "users/shared/sign_in", message: ""
      = render "users/shared/sign_up", message: ""
