.h-screen.w-64.grid.content-between.relative.sticky.border-r.border-r-gray-200.bg-white.border-l-2.border-primary
  .flex.flex-col
    = link_to root_path, class: "text-2xl font-bold py-3 px-4 text-primary" do
      = icon "fa-solid", "clock"
      Time Tracker
    .flex.flex-col.mt-2
      = render SidebarItemComponent.new path: root_path, name: "Manual", fa_icon: "keyboard"
      = render SidebarItemComponent.new path: root_path(mode: "timer"), name: "Timer", fa_icon: "clock-rotate-left"
      = render SidebarItemComponent.new path: reports_path, name: "Reports", fa_icon: "file"
  .py-4.px-4.grid.gap-2.sticky.bottom-0.bg-white.z-10
    %span.truncate.flex.items-center.gap-2
      = icon "fa-solid", "user"
      = current_user.email
    = button_to destroy_user_session_path, method: :delete, class: "py-1.5 btn-plain w-full flex items-center gap-2 justify-center" do
      = icon "fa-solid", "right-from-bracket"
      Logout
